@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  line-height: 1.4;
  background-color: #fff;
  transition: all 0.5s;
}
.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(255, 255, 255);
  margin: auto;
  margin-top: 10%;
  height: 1200px;
  font-size: 20px;
  background-color: #005490;
}

ul {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
ul li {
  color: #eee;
  list-style: none;
  font-size: 28px;
  cursor: pointer;
}
.head h1 {
  padding-top: 90px;
  text-align: center;
  color: #eee;
  margin: auto;
}
form {
  display: flex;
  flex-direction: column;
}
form li {
  list-style: none;
  padding: 15px 0;
}
form li input {
  width: 40px;
  width: 60%;
}
